html,body {
  height:100%;
}

header {
  display:block;
  background:#3a3a3d;
  padding:0px 0px;
}

#imgCodoACodo{
  height: 70px;
  margin-left: 35px;
}
.row.menuConImg {
  padding-left: 80px;
}
#tituloMenu {
  padding-top: 20px;
  color: white;
  font-family: "arial", serif;
  text-align: left;
}
div#titulosMenu {
  padding-top: 25px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

ul li {
  display: inline;
  margin-right: 10px;
}

.opcMenu{
  color: white;
  text-decoration: none;
}
.comprarTickets{
  color: rgb(47, 226, 47);
}

#tituloDelContenido{
  text-align: center;
}

.lenguajes{
  margin-bottom: 5px;
}
.javaScript{
  background-color: #eeea0f; 
  border-radius: 10px; 
  text-align: center;
  font-size: 12px;
  margin-left: 10px;

}
.react{
  background-color: #09a2df; 
  border-radius: 10px; 
  color:white;
  text-align: center;
  margin-left: 5px;
  font-size: 12px;
}

.negocios{
  background-color: #636363; /* Color de fondo sólido */
  border-radius: 10px; /* Radio del borde */
  color:white;
  text-align: center;
  font-size: 12px;
  margin-left: 10px;

}
.startups{
  background-color: #e73434; /* Color de fondo sólido */
  border-radius: 10px; /* Radio del borde */
  color:white;
  text-align: center;
  margin-left: 5px;
  font-size: 12px;
}

.row.octubreBuenosAires {
  margin-top: 25px;
  margin-bottom: 25px;
}

.col.textoctubreBuenosAires {
  background-color: rgb(65, 64, 64);
  color: white;
  font-size: 13px;
}

.textarea{
  margin-top: 15px;
}

.containerForm{
  max-width: 800px;
  margin: 0 auto; 
  padding: 20px; 
  text-align: left;
}

footer {
    display: block;
    background: #282647;
    padding: 15px;
    margin-top: 15px;
}

.seccionesFooter{
  text-decoration: none;
  color: white;
  }

 .opcFooter{
   text-decoration: none;
   color: white;
 }

/*2da Etapa - Comprar Ticket*/
p#totalFianl {
  background-color: rgb(218, 218, 255);
  padding: 20px;
  margin-top: 15px;
}

.container.text-center.comprarTicket {
  margin-top: 15px;
}
.card-body.estudiante {
      border: 2px solid rgb(0 0 0);
}
.card-body.trainee {
     border: 2px solid rgb(0 0 0);
}
.card-body.junior {
     border: 2px solid rgb(0 0 0);
}

.containerTicket{
  max-width: 990px;
  margin: 0 auto;
  text-align: left;

}

#botonTickets {
  background-color: #32ff32; 
  color: #000; 
  border: none; 
  padding: 10px 20px; 
  transition: background-color 0.3s; 
}

#botonTickets:hover {
  background-color: #329632; 
  color: #fff; 
}

.carousel-item video {
        width: 100%;
        height: 75vh; 
        object-fit: cover; 
    }

.carta {
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 50px auto;
        text-align: center;
        background-color: #f9f9f9;
         }

 #compraExitosa {
 margin-bottom: 20px;
 }
	
.gray-background {
 background-color: #f2f2f2; 
 }
 

.dark-banner {
            background-color: #333; 
            color: white;
            text-align: center;
            padding: 20px 0; 
        }
.dark-banner h1 {
            margin-top: 20px; 
            margin-bottom: 20px; 
            font-family: 'Bangers', cursive; 
        }
        

.dark-banner-dos {
            background-color: #333;
            color: white;
            font-family: 'Bangers', cursive;
        }
        
 #tipoLetraVengadores{
 font-family: 'Bangers', cursive; 
 }

 .cartaVengadores {
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 50px auto;
        text-align: center;
        background-color: #f9f9f9;
         }
         
 #imagendeVengadoresOk {
    border-radius: 10px; /* Esto redondeará los bordes de la imagen */
    width: 40%; /* Esto ajustará el tamaño de la imagen al 50% de su tamaño original */
    display: block; /* Esto garantiza que se apliquen las propiedades de tamaño correctamente */
    margin: 0 auto; /* Esto centra la imagen horizontalmente */
    margin-bottom: 25px;
}